/****************************\
    Основные переменные
\****************************/

:root {
    /* Цвета */
    --text-color: #f1f1f1;
    --footer-bg-color: #253745;

    /* Шрифты */
    --main-font: 'Rubik', sans-serif;
    --font1: 'Nunito', sans-serif;


    --main-font-size: 1.5rem;
    --font1-weight: 600;

    --main-border-radius: 1em;

    --login-form-bg: #436850;

    /* Градиент */
    --main-gradient: linear-gradient(135deg, #F9C976, #B5893D, #F9C976, #B5893D);
}

/****************************
 Установки и импорты шрифтов
****************************/

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

@charset "UTF-8"
@import url('https://fonts.googleapis.com/css?family=Montserrat:500')
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&family=Quicksand:wght@700&display=swap')

/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #4f7942;
    background-color: #000;
}
*/
body {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 16px;
  color: #000;
}
.catalog-items {
  width: 1200px;
  margin: 20px auto; /* для оформления демонстрации */
  font-size: 0;
}
.catalog-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  font-weight: 600;
  width: 218px;
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: center;
  border: 1px solid #ccc;
}
.catalog-item:nth-child(5n) {
  margin-right: 0;
}

.catalog-item .actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: #fff;
}
.actions .buy,
.actions .bookmark {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  display: block;
  width: 135px;
  margin: 0 auto 7px;
  padding: 10px 0;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border-radius: 3px;
  background-color: #63a63e;
}
.actions .buy {
  box-shadow: inset 0 -3px 0 #367315;
}
.actions .bookmark {
  width: 129px;
  padding: 7px 0;
  color: #63a63e;
  border: 3px solid #63a63e;
  background-color: #fff;
}
.catalog-item .actions {
  display: none;
}
.catalog-item:hover .actions {
  display: block;
}
.catalog-item-image {
  width: 218px;
  height: 168px;
  overflow: hidden;
}
.catalog-item-image img {
  max-width: 100%;
}
.catalog-item .title {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 0 25px;
}
.catalog-item .discount {
  min-height: 20px;
  margin-bottom: 10px;
  color: #000000;
}
.catalog-item .price {
  position: relative;
  width: 80px;
  margin: 0 auto 20px;
  padding: 10px 30px;
  color: #fff;
  background: #ee3643;
  border-radius: 3px;
}
.catalog-item .price:after {
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  content: '';
  border: 20px solid #fff;
  border-left-color: #ee3643;
}

p, li {
    color: var(--text-color);
}

body {
     background-color: #289339;
    /* background: linear-gradient(45deg, #000, #dfd1c5); */
    /* background-image: url('../img/background.jpg'); */
    background-size: 100% 100%;
    background-repeat: repeat;
    background: linear-gradient(90deg, #4f7942, #72B37E 50%, #4f7942);
    font-family: var(--font1);
}

html {
    scroll-behavior: smooth;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.sticky + main {
    padding-top: 10vh;
}

li, a, button {
    font: var(--main-font);
    color: #000000;
    text-decoration: none;
}

header {
    /* background-image: url({{ url_for('static', filename='img/chrome_YF0RuQNbcl.jpg') }}); */
    background-image: url('../img/d48cb6c8-087b-4816-a72e-1916966ff833.jpg');
    background-size: 100% auto;
    background-position: center;
    height: 60vh;

    color: #f8f6f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

header img {
    width: 120px;
}

#display_image {
    width: 375px;
    height: 211px;
    border: 2px solid green;
    background-position: center;
    font-size: 10em;
    color: transparent;
    text-transform: uppercase;
    background-image: linear-gradient(to left, #2ecc71, #3498db, #9b59b6, #f39c12);
    -webkit-background-clip: text;
    animation: animate 5s linear infinite;
    -webkit-background-size: 500%;
    background-size: 500%;*/
    margin: 0;
    position: static;
    top: 35%;
    left: 20%;
    background: linear-gradient(135deg, #F9C976, #B5893D, #F9C976, #B5893D);
    font-size: 15vh;
    font-family: "BIZ UDPMincho", sans-serif;
    letter-spacing: 5px;
    font-weight: 600;
    word-spacing: 5px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: animate 10s linear infinite;
}
/*@keyframes animate{
  0% {
    background-position: 0 100%;
  }
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 100%;
  }
}

@keyframes animate{
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}*/
/****************************************
Услуги
****************************************/
.service ul {
    display: grid;
    gap: 0.5rem;
}

.service li {
    background-color: #bab86c;
    border: 0.3rem dashed #4a5c6a;
    border-radius: 3vh;
}
/****************************************
Погода
****************************************/
/*
#weather {
    background: linear-gradient(45deg, #b1ff96, #ffadf7);
}
*/

.card_container {
    /*display: inline-block;
    display: flex;
    align-items; center;
    justify-content: space-between;*/
    display: grid;
    grid-template-columns: repeat(auto-fit, 15rem);
    gap: 0.5rem;
    justify-content: center;
    padding: 1rem;
}

.card {
    /*background-color: #9ba8ab;*/
    background: linear-gradient(45deg, #8da2ee, #dde4ff);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.5rem solid hsl(200, 100%, 10%);
    border-radius: 1rem;
    padding: 0.25rem
}

h1.date {
    font-size: 2rem;
}

.card img {
    width: 25vh;
}

main {
    margin: 0 1.5em 0 1.5em;
}

form.login_form {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    max-width: 500px;
    background-color: var(--login-form-bg);
    border: 1px solid gray;
    border-radius: var(--main-border-radius);
    padding: 10px;
    box-shadow: 0px 0px 10px 10px lightgrey;
}
ul {
    list-style: none;
}


a.phone_number:hover {
    color: #00ffff;
    text-decoration: none;
    background: var(--main-gradient);
    /* background: linear-gradient(135deg, #F9C976, #B5893D, #F9C976, #B5893D, #F9C976); */
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: animate 10s linear infinite;
}
footer {
    weight: 100%;
    background-color: var(--footer-bg-color);
    position: relative;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0;
    margin-top: auto;
}

rectangle {
    weight: 100%;
    z-index 1;
    background-color: var(--footer-bg-color);
    position: relative;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 40px;
}

h3.footer {
    margin: 0;
    margin-top: auto;
    height: 6vh;
}
    background-size: cover;
    z-index: -1;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 0; */
}

nav ul {
    list-style: none;
    width: 100%;
    text-align: center;
    padding-right: 60px;
}

nav ul li {
    display: inline-block;
    margin: 10px 20px
}

nav ul li a, nav ul li .dropdown {
    font-family: var(--main-font);
    color: #f8f6f0;
    text-decoration: none;
}

nav ul li a.logo {
    /*margin: 0;
    line-height: 1;
    font-size: 10em;
    color: transparent;
    text-transform: uppercase;
    background-image: linear-gradient(to left, #2ecc71, #3498db, #9b59b6, #f39c12);
    -webkit-background-clip: text;
    animation: animate 5s linear infinite;
    -webkit-background-size: 500%;
    background-size: 500%;*/
    margin: 0;
    margin-right: 5vw;
    position: static;
    top: 35%;
    left: 20%;
    background: var(--main-gradient);
    font-size: 1.5rem;
    font-family: var(--main-font);
    letter-spacing: 0.1rem;
    font-weight: 500;
    word-spacing: 0.5rem;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: animate 10s linear infinite;
}

    /*margin: 0;
    line-height: 1;

/**************************************
Предпросмотр фото
**************************************/

.modal {
    /* не left 0*/
    left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    background-color: #000;
}

.background {
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
    display: flex;
    justify-content: center;
    position: relative;
    height: auto;
    padding: 60px;
    background-color: #fff;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rbga(0, 0, 0, 0.06);
}

.modal-content i{
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    font-size: 36px;
}

.modal-content img{
    object-fit: contain;
    display: block;
    width: auto;
    height: 100%;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rbga(0, 0, 0, 0.06);
}

.image_container {
    display: flex;
    padding: 60px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/*
.btn {
    cursor: pointer;
    padding: 12px 20px;
    background-color: rgba(0, 0, 139, 1);
    color: #fff;
    border-radius: 12px;
    font-size: 14px;
    transition: 250ms ease-in-out all;
}

.btn:focus {
    outline: none;
}

.btn:hover {
    background-color: rgba(0, 0, 139, 0.7);
    transform: scale(1.05);
}

button {
    border: none;
    margin-left: 14px;
}
*/

.file, .file-preview {
    display: flex;
}

.file-preview {
    align-items: center;
}

.file-preview p {
    margin-left: 16px;
    font-size: 14px;
}

.file-name {
    margin-left: 4px;
}

.file input{
    display: none;
}

.inactive {
    pointer-events: none;
    background-color: grey;
}

.display-none {
    display: none;
}

.material-icons {
    display: inline-flex;
    vertical-align: top;
}

.btn-warning{
  position: relative;
  padding: 11px 16px;
  font-size: 15px;
  line-height: 1.5;
  border-radius: 3px;
  color: #fff;
  background-color: #ffc100;
  border: 0;
  transition: 0.2s;
  overflow: hidden; \\ L
}

.btn-warning input[type = "file"]{
  cursor: pointer;
  position: absolute;
  left: 0%;
  top: 0%;
  transform: scale(3);
  opacity: 0;
}

.btn-warning:hover{
  background-color: #d9a400;
}

/*
body {
  align-items: center;
  background-color: #000;
  display: flex;
  justify-content: center;
  height: 100vh;
}
*/
/*
.
body {
  font-family: "Convergence", sans-serif;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: #060b23;
}
*/

/****************************\

\****************************/

.form {
  position: relative;
  width: 100%;
  height: 3rem;
}
  .form__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #e1e5ee;
    border-radius: 0.5rem;
    font-family: inherit;
    font-size: inherit;
    color: white;
    outline: none;
    padding: 1.25rem;
    background: none;

    .form:hover {
      border-color: #adffff;
    }

    /* Change border when input focus*/

    .form:focus {
      border-color: #18ffff;
    }
  }

  .form__label {
    position: absolute;
    left: 1rem;
    top: 0.8rem;
    padding: 0 0.5rem;
    color: white;
    cursor: text;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
    background-color: #060b23;
    /* background-color: var(--login-form-bg); */
  }
  form.login_form .form__label {
    background-color: var(--login-form-bg);
  }

/*
1. When the input is in the focus state
reduce the size of the label and move upwards

2. Keep label state when content is in input field
*/

.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label {
  top: -0.5rem;
  font-size: 0.8rem;
  left: 0.8rem;
}

.dropdown {
    position: center;
}

.dropdown-content {
    display: none;
}

.dropdown-content a {
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/****************************\
    Для мобильных устройств
\****************************/


@media screen and (max-width: 770px) {
    .movableHeader{
        display: block;
    }