<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
        <title>Тверские обряды</title>
    </head>
    <body>
        <header>
            <img class="logo" src="{{ url_for('static', filename='img/website_logo_delete_extra_pixels.png') }}" alt="здесь должна была быть картинка, но не нашлась">
            <h1>ТВЕРСКИЕ ОБРЯДЫ</h1>
            <nav>
                <ul class ="nav_links">
                    <li><a href="#">Главная</a></li>
                    <li><a href="#">Продукция</a></li>
                    <li><a href="#">Услуги</a></li>
                </ul>
            </nav>
        </header>
        <footer>
            <h3>© 2024 "ТВЕРСКИЕ ОБРЯДЫ"</h3>
        </footer>
    </body>
</html>