<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
        <title>Тверские обряды</title>

    </head>
    <body>

        <header>
            <img class="logo" src="{{ url_for('static', filename='img/website_logo_delete_extra_pixels.png') }}" alt="здесь должна была быть картинка, но не нашлась">
            <h1 class="name">ТВЕРСКИЕ ОБРЯДЫ</h1>
        </header>
        <!-- here is the code of our header -->
        <div class="movableHeader" id="movableHeader">
            <nav>
                <!-- <ul class="nav_links"> -->
                <ul class="navbar navbar-dark bg-dark">
                    {% if main %}
                        <li><a href="#main">Главная</a></li>
                        <li><a href="#production">Продукция</a></li>
                        <li><a href="#service">Услуги</a></li>
                        <li><a href="#weather">Погода</a></li>
                    {% else %}
                        <li><a href="/">Главная</a></li>
                        <li><a href="/#production">Продукция</a></li>
                        <li><a href="/#service">Услуги</a></li>
                        <li><a href="/#weather">Погода</a></li>
                    {% endif %}
                    <li><a href="/login">Аккаунт</a></li>
                    <li><a href="order"><button>Заказать керамику</button></a></li>
                    {% if current_user.is_authenticated %}
                        <a class="navbar-brand" href="/logout">{{ current_user.name }}</a>
                    {% else %}
                        <p>
                            <a class="btn btn-primary " href="/register">Зарегистрироваться</a>
                            <a class="btn btn-success" href="/login">Войти</a>
                        </p>
                    {% endif %}
                </ul>
            </nav>
        </div>
        <!-- <main role="main" class="container"> -->
        <main>
            {% block content %}{% endblock %}
        </main>

        <footer class="text-center text-lg-start bg-body-tertiary text-muted">
            <section class="center">
                <div class="container text-center text-md-start mt-5">
                  <!-- Grid row -->
                  <div class="row mt-3 center">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                      <!-- Content -->
                      <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>ТВЕРСКИЕ ОБРЯДЫ
                      </h6>
                      <p>
                        Производство товаров и принадлежностей для похорон и оказание ритуальных услуг
                      </p>
                    </div>

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                      <!-- Links -->
                      <h6 class="text-uppercase fw-bold mb-4">Контакты</h6>
                      <p><i class="fas fa-home me-3"></i>г.Тверь, ул. Тамары Ильиной, д.14</p>
                      <p><i class="fas fa-envelope me-3"></i>tverobrad@gmail.com</p>
                      <p><a class="phone_number" href="tel:89806349876">8-980-634-98-76</a></p>
                      <p><a class="phone_number" href="tel:84822584611">8 (4822) 58-46-11</a></p>
                    </div>
                    <!-- Grid column -->
                  </div>
                  <!-- Grid row -->
                </div>
            </section>
            <h3 class="footer">&copy {{ date.year }} "ТВЕРСКИЕ ОБРЯДЫ"</h3>
            <!-- <div>
                <p>"Тверские обряды" - производство товаров и принадлежностей для похорон и оказание ритуальных услуг.</p>
                <p>Адрес: г.Тверь, ул. Тамары Ильиной, д.14</p>
                <p>Телефоны: 8 (4822) 58-46-11, 8-980-634-98-76</p>
            </div> -->
        </footer>
        <script>
            // When the user scrolls the page, execute myFunction
            window.onscroll = function() {myFunction()};

            // Get the header
            var header = document.getElementById("movableHeader");

            // Get the offset position of the navbar
            var sticky = 300;

            // Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
            function myFunction() {
              if (window.pageYOffset > sticky) {
                header.classList.add("sticky");
              } else {
                header.classList.remove("sticky");
              }
            }
        </script>
    </body>
</html>