{% extends "base.html" %}
{% block content %}
    <div id="main">
        <h1>ОРГАНИЗАЦИЯ ПОХОРОН В ТВЕРИ И ОБЛАСТИ</h1>
        <p>"Тверские обряды" - производство товаров и принадлежностей для похорон и оказание ритуальных услуг.
            Широкий ассортимент товаров для похорон. Высокое качество работ.</p>
        <p>Салон ритуальных услуг "Тверские обряды" работает на рынке предоставления ритуальных услуг и производства
            похоронных принадлежностей Твери более 25 лет.
            Мы окажем бесплатную профессиональную консультацию по всем вопросам, связанным с похоронами умершего
            человека, поможем с выбором похоронных принадлежностей (гробы, кресты, искусственные цветы, венки и т.п.).
            Окажем помощь или оформим необходимые для проведения похорон документы (медицинское свидетельство о смерти,
            гербовое свидетельство о смерти, справка на получение пособия на погребение).
            В соответствии с пожеланиями заказчика организуем отпевание усопшего и
            похороны на кладбищах города Твери (Дмитрово-Черкассы, Лебедево, Николо-Малица, Перемерки),
            а так же и кладбищах области. Так же организуем кремацию в крематориях г. Москвы.
            Оказываем услуги по перевозке тел умерших из дома в морг.</p>

        <p>По телефонам в Твери (4822) 58-46-11, 8(980) 634-98-76 можно получить срочную консультацию по вопросам,
            связанным с организацией и проведением  похорон,</p>

    </div>

    <div id="production">
        <h1>Prod</h1>
    </div>

    <div id="service">
        <h1>Услуги</h1>
        <ul>
            <li>Оформление документов</li>
                <p>Мы поможем нашим заказчикам оформить необходимые документа для организации похорон умершего человека.</p>
                <p>Оформление гербового свидетельства о смерти и справки на получение пособия на погребение у нас
                осуществляется <strong>бесплатно</strong>!</p>
                <p>Обычно мы готовим эти документы к моменту похорон, тогда наш похоронный агент выдает их родственникам
                    умершего человека непосредственно у морга. Но бывают случаи, когда документы в ЗАГСе готовятся
                    долго. Тогда получить готовые справки можно и после похорон придя к нам в салон ритуальных услуг
                    "Тверские обряды" по адресу: ул. Тамары Ильиной, д.14.</p>
            <li>Услуги катафалка</li>
                <p>Мы оказываем услуги по транспортному сопровождению похорон автомобилем FIAT в котором гроб и другие
                    похоронные принадлежности находятся изолированно от пассажирского салона. Количество посадочных мест
                    от 5 до 8, в зависимости от размера гроба.</p>
                <p>Если нашим заказчикам необходим автобус большей вместимости, тогда предлагаем микроавтобусы Газель,
                    ПАЗ, Форд, Мерседес.</p>
                <p>Помимо похорон, мы можем осуществлять доставку ритуальных принадлежностей по адресу заказчика в Твери
                    и Тверской области.</p>
        </ul>
    </div>

    <div id="weather">
        <h1>Погода</h1>
        <div class="card_container">
            <div class="card">1</div>
            <div class="card">2</div>
            <div class="card">3</div>
            <div class="card">4</div>
            <div class="card">5</div>
        </div>
    </div>
    <div id="contacts">
        <h1>Контакты</h1>
        <p>Салон ритуальных услуг "Тверские обряды"</p>
        <p>Наши координаты:</p>
        <p>Адрес: г.Тверь, ул. Тамары Ильиной, д.14</p>
        <p>Телефоны: 8 (4822) 58-46-11, 8-980-634-98-76</p>
        <p>Факс: 8 (4822) 34-60-66</p>
        <p>Эл. почта: tverobr@mail.ru</p>
        <p>Проезд до остановки "Бассейн Радуга"</p>
        <p>"Тверские обряды" на карте Твери</p>
    </div>
{% endblock %}