{% extends "base.html" %}
<!-- Основная страница -->
{% block content %}
    <div id="main">
        <h1>ОРГАНИЗАЦИЯ ПОХОРОН В ТВЕРИ И ОБЛАСТИ</h1>
        <p>"Тверские обряды" - производство товаров и принадлежностей для похорон и оказание ритуальных услуг.
            Широкий ассортимент товаров для похорон. Высокое качество работ.</p>
        <p>Салон ритуальных услуг "Тверские обряды" работает на рынке предоставления ритуальных услуг и производства
            похоронных принадлежностей Твери более 25 лет.
            Мы окажем бесплатную профессиональную консультацию по всем вопросам, связанным с похоронами умершего
            человека, поможем с выбором похоронных принадлежностей (гробы, кресты, искусственные цветы, венки и т.п.).
            Окажем помощь или оформим необходимые для проведения похорон документы (медицинское свидетельство о смерти,
            гербовое свидетельство о смерти, справка на получение пособия на погребение).
            В соответствии с пожеланиями заказчика организуем отпевание усопшего и
            похороны на кладбищах города Твери (Дмитрово-Черкассы, Лебедево, Николо-Малица, Перемерки),
            а так же и кладбищах области. Так же организуем кремацию в крематориях г. Москвы.
            Оказываем услуги по перевозке тел умерших из дома в морг.</p>

        <p>По телефонам в Твери <a class="phone_number" href="tel:84822584611">8 (4822) 58-46-11</a>,
            <a class="phone_number" href="tel:84822584611">8-980-634-98-76</a> можно получить срочную консультацию по вопросам,
            связанным с организацией и проведением  похорон,</p>

    </div>
       <!-- Основные товары -->
       <h1> Гробы </h1>
       <p> Продаем деревянные гробы любых размеров, обитых тканью по выбору заказчика (от 3000 руб.) и элитные лакированные гробы (от 10000 руб.).
       </p>
       <div class="catalog-items">
  <article class="catalog-item">
    <div class="catalog-item-image">
      <img width="218" height="168" src="static/products/coffin1.jpg">
    </div>
    <h1 class="title">Перфоратор BOSCH BFG 3000</h1>
    <div class="discount">22 500 Р.</div>
  </article>
  <article class="catalog-item">
    <div class="catalog-item-image">
      <img width="218" height="168" src="static/products/coffin2.png">
    </div>
    <h1 class="title">Перфоратор BOSCH BFG 3000</h1>
    <div class="discount">22 500 Р.</div>
  </article>
  <article class="catalog-item">
    <div class="catalog-item-image">
      <img width="218" height="168" src="static/products/coffin3.png">
    </div>
    <h1 class="title">Перфоратор BOSCH BFG 3000</h1>
    <div class="discount">22 500 Р.</div>
  </article>
  <article class="catalog-item">
    <div class="catalog-item-image">
      <img width="218" height="168" src="static/products/coffin4.png">
    </div>
    <h1 class="title">Перфоратор BOSCH BFG 3000</h1>
    <div class="discount">22 500 Р.</div>
  </article>
  <article class="catalog-item">
    <div class="catalog-item-image">
      <img width="218" height="168" src="static/products/coffin5.png">
    </div>
    <h1 class="title">Перфоратор BOSCH BFG 3000</h1>
    <div class="discount">22 500 Р.</div>
  </article>
  <article class="catalog-item">
    <div class="catalog-item-image">
      <img width="218" height="168" src="static/products/coffin6.png">
    </div>
    <h1 class="title">Перфоратор BOSCH BFG 3000</h1>
    <div class="discount">22 500 Р.</div>
  </article>
  <article class="catalog-item">
    <div class="catalog-item-image">
      <img width="218" height="168" src="static/products/coffin7.png">
    </div>
    <h1 class="title">Перфоратор BOSCH BFG 3000</h1>
    <div class="discount">22 500 Р.</div>
  </article>
  <article class="catalog-item">
    <div class="catalog-item-image">
      <img width="218" height="168" src="static/products/coffin8.png">
    </div>
    <h1 class="title">Перфоратор BOSCH BFG 3000</h1>
    <div class="discount">22 500 Р.</div>
  </article>
  <article class="catalog-item">
    <div class="catalog-item-image">
      <img width="218" height="168" src="static/products/coffin9.png">
    </div>
    <h1 class="title">Перфоратор BOSCH BFG 3000</h1>
    <div class="discount">22 500 Р.</div>
  </article>
       </div>
           <h1> Цветы искусственные </h1>
       <p> Широкий выбор искусственных цветов
       </p>
       <div class="catalog-items">
  <article class="catalog-item">
    <div class="catalog-item-image">
      <img width="218" height="168" src="static/products/flower.png">
    </div>
    <h1 class="title">Перфоратор BOSCH BFG 3000</h1>
    <div class="discount">22 500 Р.</div>
  </article>
  <article class="catalog-item">
    <div class="catalog-item-image">
      <img width="218" height="168" src="static/products/flower1.png">
    </div>
    <h1 class="title">Перфоратор BOSCH BFG 3000</h1>
    <div class="discount">22 500 Р.</div>
  </article>
  <article class="catalog-item">
    <div class="catalog-item-image">
      <img width="218" height="168" src="static/products/flower2.png">
    </div>
    <h1 class="title">Перфоратор BOSCH BFG 3000</h1>
    <div class="discount">22 500 Р.</div>
  </article>
  <article class="catalog-item">
    <div class="catalog-item-image">
      <img width="218" height="168" src="static/products/flower3.png">
    </div>
    <h1 class="title">Перфоратор BOSCH BFG 3000</h1>
    <div class="discount">22 500 Р.</div>
  </article>
  <article class="catalog-item">
    <div class="catalog-item-image">
      <img width="218" height="168" src="static/products/flower4.png">
    </div>
    <h1 class="title">Перфоратор BOSCH BFG 3000</h1>
    <div class="discount">22 500 Р.</div>
  </article>
  <article class="catalog-item">
    <div class="catalog-item-image">
      <img width="218" height="168" src="static/products/flower5.png">
    </div>
    <h1 class="title">Перфоратор BOSCH BFG 3000</h1>
    <div class="discount">22 500 Р.</div>
  </article>
  <article class="catalog-item">
    <div class="catalog-item-image">
      <img width="218" height="168" src="static/products/flower7.png">
    </div>
    <h1 class="title">Перфоратор BOSCH BFG 3000</h1>
    <div class="discount">22 500 Р.</div>
  </article>
  <article class="catalog-item">
    <div class="catalog-item-image">
      <img width="218" height="168" src="static/products/flower8.png">
    </div>
    <h1 class="title">Перфоратор BOSCH BFG 3000</h1>
    <div class="discount">22 500 Р.</div>
  </article>
   <article class="catalog-item">
    <div class="catalog-item-image">
      <img width="218" height="168" src="static/products/flower9.png">
    </div>
    <h1 class="title">Перфоратор BOSCH BFG 3000</h1>
    <div class="discount">22 500 Р.</div>
  </article>
           </div>
           <h1> Венки </h1>
       <p> Широкий выбор ритуальных венков (от 200 руб.), корзин (от 140 руб.), одиночных цветов (от 4 руб.).
       </p>
       <div class="catalog-items">
  <article class="catalog-item">
    <div class="catalog-item-image">
      <img width="218" height="168" src="static/products/wreath1.png">
    </div>
    <h1 class="title">Перфоратор BOSCH BFG 3000</h1>
    <div class="discount">22 500 Р.</div>
  </article>
  <article class="catalog-item">
    <div class="catalog-item-image">
      <img width="218" height="168" src="static/products/wreath2.png">
    </div>
    <h1 class="title">Перфоратор BOSCH BFG 3000</h1>
    <div class="discount">22 500 Р.</div>
  </article>
  <article class="catalog-item">
    <div class="catalog-item-image">
      <img width="218" height="168" src="static/products/wreath3.png">
    </div>
    <h1 class="title">Перфоратор BOSCH BFG 3000</h1>
    <div class="discount">22 500 Р.</div>
  </article>
  <article class="catalog-item">
    <div class="catalog-item-image">
      <img width="218" height="168" src="static/products/wreath4.png">
    </div>
    <h1 class="title">Перфоратор BOSCH BFG 3000</h1>
    <div class="discount">22 500 Р.</div>
  </article>
  <article class="catalog-item">
    <div class="catalog-item-image">
      <img width="218" height="168" src="static/products/wreath5.png">
    </div>
    <h1 class="title">Перфоратор BOSCH BFG 3000</h1>
    <div class="discount">22 500 Р.</div>
  </article>
  <article class="catalog-item">
    <div class="catalog-item-image">
      <img width="218" height="168" src="static/products/wreath6.png">
    </div>
    <h1 class="title">Перфоратор BOSCH BFG 3000</h1>
    <div class="discount">22 500 Р.</div>
  </article>
  <article class="catalog-item">
    <div class="catalog-item-image">
      <img width="218" height="168" src="static/products/wreath7.png">
    </div>
    <h1 class="title">Перфоратор BOSCH BFG 3000</h1>
    <div class="discount">22 500 Р.</div>
  </article>
  <article class="catalog-item">
    <div class="catalog-item-image">
      <img width="218" height="168" src="static/products/wreath8.png">
    </div>
    <h1 class="title">Перфоратор BOSCH BFG 3000</h1>
    <div class="discount">22 500 Р.</div>
  </article>
   <article class="catalog-item">
    <div class="catalog-item-image">
      <img width="218" height="168" src="static/products/wreath9.png">
    </div>
    <h1 class="title">Перфоратор BOSCH BFG 3000</h1>
    <div class="discount">22 500 Р.</div>
  </article>
           <article class="catalog-item">
    <div class="catalog-item-image">
      <img width="218" height="168" src="static/products/wreath10.png">
    </div>
    <h1 class="title">Перфоратор BOSCH BFG 3000</h1>
    <div class="discount">22 500 Р.</div>
  </article>
</div>
<h1> Кресты </h1>
       <p> Деревянные кресты от 1000 руб.
           Металлические кресты от 950 руб.
       </p>
       <div class="catalog-items">
  <article class="catalog-item">
    <div class="catalog-item-image">
      <img width="218" height="168" src="static/products/cross1.png">
    </div>
    <h1 class="title">Перфоратор BOSCH BFG 3000</h1>
    <div class="discount">22 500 Р.</div>
  </article>
  <article class="catalog-item">
    <div class="catalog-item-image">
      <img width="218" height="168" src="static/products/cross2.png">
    </div>
    <h1 class="title">Перфоратор BOSCH BFG 3000</h1>
    <div class="discount">22 500 Р.</div>
  </article>
  <article class="catalog-item">
    <div class="catalog-item-image">
      <img width="218" height="168" src="static/products/cross3.png">
    </div>
    <h1 class="title">Перфоратор BOSCH BFG 3000</h1>
    <div class="discount">22 500 Р.</div>
  </article>
  <article class="catalog-item">
    <div class="catalog-item-image">
      <img width="218" height="168" src="static/products/cross4.png">
    </div>
    <h1 class="title">Перфоратор BOSCH BFG 3000</h1>
    <div class="discount">22 500 Р.</div>
  </article>
  <article class="catalog-item">
    <div class="catalog-item-image">
      <img width="218" height="168" src="static/products/cross5.png">
    </div>
    <h1 class="title">Перфоратор BOSCH BFG 3000</h1>
    <div class="discount">22 500 Р.</div>
  </article>
       </div>
    <!-- Услуги -->
    <div class="service" id="service">
        <h1>Услуги</h1>
        <ul>
            <li><h1>Оформление документов</h1>
                <p>Мы поможем нашим заказчикам оформить необходимые документа для организации похорон умершего человека.</p>
                <p>Оформление гербового свидетельства о смерти и справки на получение пособия на погребение у нас
                осуществляется <strong>бесплатно</strong>!</p>
                <p>Обычно мы готовим эти документы к моменту похорон, тогда наш похоронный агент выдает их родственникам
                    умершего человека непосредственно у морга. Но бывают случаи, когда документы в ЗАГСе готовятся
                    долго. Тогда получить готовые справки можно и после похорон придя к нам в салон ритуальных услуг
                    "Тверские обряды" по адресу: ул. Тамары Ильиной, д.14.</p></li>
            <li><h1>Услуги катафалка</h1>
                <p>Мы оказываем услуги по транспортному сопровождению похорон автомобилем FIAT в котором гроб и другие
                    похоронные принадлежности находятся изолированно от пассажирского салона. Количество посадочных мест
                    от 5 до 8, в зависимости от размера гроба.</p>
                <p>Если нашим заказчикам необходим автобус большей вместимости, тогда предлагаем микроавтобусы Газель,
                    ПАЗ, Форд, Мерседес.</p>
                <p>Помимо похорон, мы можем осуществлять доставку ритуальных принадлежностей по адресу заказчика в Твери
                    и Тверской области.</p></li>
        </ul>
    </div>
    <!-- Прогноз погоды -->
    <div id="weather">
        <h1>Погода</h1>
        <div class="card_container">
            {% if is_weather %}
                <!-- <div class="card">
                    {% set cur_weather_code = 'img/' + weather_map[weather_info['current']['weather_code']] + '.png' %}
                    <img src="{{ url_for('static', filename=cur_weather_code) }}" alt="?">
                    <h1 class="date"> {{ date.strftime("%A").capitalize() }}</h1>
                    <h1>{{ round(weather_info['current']['temperature_2m']) }}&deg;</h1>
                </div> -->
                {% for day in range(5) %}
                <div class="card">
                    {% set forecast_weather_code = 'img/' + weather_map[weather_info['daily']['weather_code'][day]] + '.png' %}
                    <img src="{{ url_for('static', filename=forecast_weather_code) }}" alt="?">
                    <h1 class="date">{{ (date + timedelta(days=day)).strftime("%A").capitalize() }}</h1>
                    <h1>{{ round(weather_info['daily']['temperature_2m_max'][day]) }}&deg;</h1>
                </div>
                {% endfor %}
            {% else %}
                <!-- Если произошла ошибка и нет доступа к прогнозу погоды -->
                {% for day in range(5) %}
                <div class="card">
                    <img src="{{ url_for('static', filename='img/question.png') }}" alt="?">
                    <h1 class="date">{{ (date + timedelta(days=day)).strftime("%A").capitalize() }}</h1>
                    <h1>?&deg;</h1>
                </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div id="contacts">
        <h1>Контакты</h1>
        <p>Салон ритуальных услуг "Тверские обряды"</p>
        <p>Наши координаты:</p>
        <p>Адрес: г.Тверь, ул. Тамары Ильиной, д.14</p>
        <p>Телефоны: <a class="phone_number" href="tel:84822584611">8 (4822) 58-46-11</a>, <a class="phone_number" href="tel:84822584611">8-980-634-98-76</a></p>
        <p>Факс: 8 (4822) 34-60-66</p>
        <p>Эл. почта: tverobrad@gmail.com</p>
        <p>Проезд до остановки "Бассейн Радуга"</p>
        <p>"Тверские обряды" на карте Твери</p>
    </div>
    <!-- Карта -->
    <div style="position:relative;overflow:hidden;">
        <a href="https://yandex.ru/maps/org/tverskiye_obryady/1002885724/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Тверские обряды</a>
        <a href="https://yandex.ru/maps/14/tver/category/funeral_services/184108367/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:14px;">Ритуальные услуги в Твери</a>
        <iframe src="https://yandex.ru/map-widget/v1/?ll=35.925299%2C56.839336&mode=search&oid=1002885724&ol=biz&z=16.62" width="100%" height="400" frameborder="1" allowFullscreen style="position:relative;"></iframe>
    </div>
{% endblock %}