{% extends "base.html" %}

<!-- Страница авторизации -->

{% block content %}

    <!-- Форма авторизации -->

    <form class="login_form" action="" method="post">
        <h1>Авторизация</h1>
        {{ form.hidden_tag() }}

        <div class="form">
            {{ form.email(class="form__input", type="email", autocomplete="on", placeholder=" ") }}
            {{ form.email.label(class="form__label") }}
            {% for error in form.email.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </div>
        <br>
        <div class="form">
            {{ form.password(class="form__input", type="password",autocomplete="on", placeholder=" ") }}
            {{ form.password.label(class="form__label") }}
            {% for error in form.password.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </div>
        <br>
        <p>Нет аккаунта? <a href="/register">Регистрация</a></p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>

        <!-- Вывод ошибок -->

        {% if message %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
        {% endif %}
    </form>
    <br>
{% endblock %}