{% extends "base.html" %}

{% block content %}
    <form class="login_form" action="" method="post">
        <h1 class="center">Авторизация</h1>
        {{ form.hidden_tag() }}
        <!-- <div class="form">
            <input type="text" id="email" class="form__input" autocomplete="on" placeholder=" ">
            <label for="email" class="form__label">Email</label>
        </div>  -->
        <div class="form">
            {{ form.email(class="form__input", type="email", autocomplete="on", placeholder=" ") }}
            {{ form.email.label(class="form__label") }}
            {% for error in form.email.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </div>
        <div class="form">
            {{ form.password(class="form__input", type="password",autocomplete="on", placeholder=" ") }}
            {{ form.password.label(class="form__label") }}
            {% for error in form.password.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </div>
        <!-- <p>
            {{ form.email.label }}<br>
            {{ form.email(class="form-control", type="email", placeholder="Почта") }}
            {% for error in form.email.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p> -->
        <!-- <p>
            {{ form.password.label }}<br>
            {{ form.password(class="form-control", type="password", placeholder="Пароль") }}
            {% for error in form.password.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p> -->
        <p>Нет аккаунта?<a href="/register">Регистрация</a></p>
        <!-- <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p> -->
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <div>{{ message }}</div>
    </form>
{% endblock %}