{% extends "base.html" %}
{% block content %}
    <div>
        <form class="login_form" method="post">
            <label for="about">Ваши данные</label>
            <input class="form-control" type="text" placeholder="Введите фамилию" name="surname">
            <input class="form-control" type="text" placeholder="Введите имя" name="name">
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Введите адрес почты" name="email">
            <label for="about">Данные поконика</label>
            <input class="form-control" type="text" placeholder="Введите фамилию " name="surname1">
            <input class="form-control" type="text" placeholder="Введите имя " name="name1">
            <input class="form-control" type="text" placeholder="Введите отчество " name="surname1">
            <input class="form-control" type="text" placeholder="Введите дату рождения" name="dr">
            <input class="form-control" type="text" placeholder="Введите дату смерти" name="ds">
            <br>
            <div class="form-group">
                <label for="form-check">Какие размера плита необходима?</label>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="career"
                  id="researchEngineer" value="researchEngineer">
                  <label class="form-check-label" for="researchEngineer">
                    размер 1
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="pilot" id="pilot"
                  name="career">
                  <label class="form-check-label" for="pilot">
                    размер 2
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="career" id="builder"
                  value="builder">
                  <label class="form-check-label" for="builder">
                    разсер 3
                  </label>
                </div>
            </div>
            <input class="form-control" type="text" placeholder="Введите дату изготовления плиты" name="name">
            <div class="form-group">
                <label for="about">Комментарий к заказу</label>
                <textarea class="form-control" id="about" rows="3" name="reason"></textarea>
            </div>
            <div class="form-group">
                <label for="photo">Приложите фотографию</label>
                <input type="file" class="form-control-file" id="photo" name="file">
            </div>
            <button type="submit" class="btn btn-primary">Заказать</button>
        </form>
    </div>
{% endblock %}