{% extends "base.html" %}
{% block content %}
    <div>
        <form class="login_form" method="post" enctype="multipart/form-data">
            <label>Ваши данные</label>
            <input class="form-control" type="text" placeholder="Введите фамилию" name="surname">
            <input class="form-control" type="text" placeholder="Введите имя" name="name">
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Введите адрес почты" name="email">
            <label>Данные покойного</label>
            <input class="form-control" type="text" placeholder="Введите фамилию " name="dead_surname">
            <input class="form-control" type="text" placeholder="Введите имя " name="dead_name">
            <input class="form-control" type="text" placeholder="Введите отчество " name="dead_middle_name">
            <label>Дата рождения</label>
            <input class="form-control" type="date" placeholder="Введите дату рождения (дд.мм.гггг)" name="dead_birth_day">
            <label>Дата смерти</label>
            <input class="form-control" type="date" placeholder="Введите дату смерти (дд.мм.гггг)" name="dead_death_day">
            <br>
            <div class="form-group">
                <input type="radio" id="black_n_white" name="colour" value="black_n_white" checked="checked"/>
                <label for="black_n_white">Чёрно-белая плитка</label>
                <input type="radio" id="coloured" name="colour" value="coloured" />
                <label for="coloured">Цветная плитка</label>
            </div>
            <div class="form-group">
                <input type="radio" id="oval" name="shape" value="oval" checked="checked"/>
                <label for="oval">Овал</label>
                <div class="form-group">
                    <label for="classSelect">размер плитки</label>
                    <select class="form-control" id="classSelect" name="education">
                        <option>9x12</option>
                        <option>13x18</option>
                        <option>17x23</option>
                        <option>18x24</option>
                        <option>21x27</option>
                        <option>26x36</option>
                    </select>
                 </div>

                <input type="radio" id="rect" name="shape" value="rect" />
                <label for="rect">Прямоугольник</label>
                <div class="form-group">
                    <label for="classSelect">размер плитки</label>
                    <select class="form-control" id="classSelect" name="education">
                        <option>9x12</option>
                        <option>13x18</option>
                        <option>18x24</option>
                        <option>20x30</option>
                        <option>26x36</option>
                    </select>
                 </div>
            </div>
            <input class="form-control" type="date" placeholder="Введите дату изготовления плиты" name="name">
            <div>
                <br>
                <label for="phone">Телефон: </label>
                <input type="tel" placeholder="+7(XXX)-XXX-XXXX" id="phone" name="phone"/>
            <div>
            <div class="form-group">
                <label for="about">Комментарий к заказу</label>
                <textarea class="form-control" id="about" rows="3" name="reason"></textarea>
            </div>
            <div class="form-group">
                <label for="photo">Выберите файл</label>
                <input type="file" class="form-control-file" id="photo" name="file" accept="image/*">
            </div>
            <button type="submit" class="btn btn-primary">Заказать</button>
        </form>
    </div>
{% endblock %}