{% extends "base.html" %}
<!-- Страница заказа керамики -->
{% block content %}
    <div>
        <form class="login_form" method="post" enctype="multipart/form-data">
            <h1>Заказ керамики</h1>
            <h2>Ваши данные</h2>
            {% if current_user.is_authenticated %}
                <input class="form-control" type="text" value={{current_user.surname}} name="surname" readonly>
                <input class="form-control" type="text" value={{current_user.name}} name="name" readonly>
                <input class="form-control" type="text" value={{current_user.patronymic}} name="patronymic" readonly>
                <input type="email" class="form-control" aria-describedby="emailHelp" value={{current_user.email}} name="email" readonly>
                <label for="phone">Телефон:</label>
                <input class="form-control" type="tel" placeholder="+7(XXX)-XXX-XXXX" pattern="[+]?[78]{1}\s?\(?[0-9]{3}\)?\s?[\-]?[0-9]{3}[\-]?[0-9]{2}[\-]?[0-9]{2}"  id="phone" name="phone"/>
            {% else %}
                <input class="form-control" type="text" placeholder="Введите фамилию" name="surname" required>
                <input class="form-control" type="text" placeholder="Введите имя" name="name" required>
                <input class="form-control" type="text" placeholder="Введите отчество (при наличии)" name="patronymic">
                <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Введите адрес почты" name="email" required>
                <label for="phone1">Телефон:</label>
                <input class="form-control" type="tel" placeholder="+7(XXX)-XXX-XXXX" pattern="[+]?[78]{1}\s?\(?[0-9]{3}\)?\s?[\-]?[0-9]{3}[\-]?[0-9]{2}[\-]?[0-9]{2}"  id="phone1" name="phone" required/>
            {% endif %}
            <h2>Тип керамики</h2>
            <div id="sectionForm" class="form-group">
                <input type="checkbox" id="text" name="format" value="text" onchange="enable_text()" checked/>
                <label for="text">Текст</label>
                <input type="checkbox" id="image" name="format" value="image" onchange="enable_image()" checked/>
                <label for="image">Картинка</label>
            </div>
            <h2>Данные покойного</h2>
            <input class="form-control" id="dead_surname" type="text" placeholder="Введите фамилию" name="dead_surname" required>
            <input class="form-control" id="dead_name" type="text" placeholder="Введите имя" name="dead_name" required>
            <input class="form-control" id="dead_patronymic" type="text" placeholder="Введите отчество" name="dead_patronymic" required>
            <label>Дата рождения</label>
            <input class="form-control" id="dead_birth_day" type="date" placeholder="Введите дату рождения (дд.мм.гггг)" name="dead_birth_day" required>
            <label>Дата смерти</label>
            <input class="form-control" id="dead_death_day" type="date" placeholder="Введите дату смерти (дд.мм.гггг)" name="dead_death_day" required>
            <br>
            <h2>Фотограция покойного</h2>
            <!--
            <div class="form-group">
                <label for="photo">Выберите файл</label>
                <input type="file" class="form-control-file" id="photo" name="file" accept=".png, .jpg, .jpeg">
                <div id="display_image"></div>
            </div>
            -->
            <div class="background">
                <div class="modal display-none">
                    <div class="modal-content">
                        <!-- <span class="close">X</span> -->
                        <i class="material-icons close" style="vertical-align: bottom;">cancel</i>
                        <img class="photo-preview" src="" alt="">
                    </div>
                </div>
            </div>
            <div class="image_container">
                <!-- <div class="file">
                    <label class="btn btn-primary" id="label" for="file">Upload Photo</label>
                    <input type="file"  id="file" name="file" accept=".png,.jpg,.jpeg">
                </div> -->
                <div class="upload">
                  <button type = "button" class = "btn-warning">
                    <i class = "fa fa-upload"></i> Upload File
                    <input type="file" id="file" name="file" accept=".png,.jpg,.jpeg" required>
                  </button>
                </div>
                <div class="file-preview">
                    <button type="button" id="button_preview" class="btn preview inactive">Preview</button>
                    <p>File:<span class="file-name"></span></p>
                </div>
            </div>
            <h2>Керамика</h2>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="ornament" name="ornament" checked/>
                <label class="form-check-label" for="ornament">Орнамент по краям</label>
            </div>
            <div class="form-group">
                <input type="radio" id="black_n_white" name="colour" value="black_n_white" checked="checked"/>
                <label for="black_n_white">Чёрно-белая плитка</label>
                <input type="radio" id="coloured" name="colour" value="coloured" />
                <label for="coloured">Цветная плитка</label>
            </div>
            <div class="form-group">
                <input type="radio" id="oval" name="shape" value="oval" checked="checked"/>
                <label for="oval">Овал</label>
                <div class="form-group">
                    <label for="classSelect1">размер плитки</label>
                    <select class="form-control" id="classSelect1" name="oval_size">
                        <option>9x12</option>
                        <option>13x18</option>
                        <option>17x23</option>
                        <option>18x24</option>
                        <option>21x27</option>
                        <option>26x36</option>
                    </select>
                 </div>

                <input type="radio" id="rect" name="shape" value="rect" />
                <label for="rect">Прямоугольник</label>
                <div class="form-group">
                    <label for="classSelect2">размер плитки</label>
                    <select class="form-control" id="classSelect2" name="rect_size">
                        <option>9x12</option>
                        <option>13x18</option>
                        <option>18x24</option>
                        <option>20x30</option>
                        <option>26x36</option>
                    </select>
                 </div>
            </div>
            <label for="deadline">Срок изготовления</label>
            <input class="form-control" type="date" id="deadline" name="deadline">
            <div class="form-group">
                <label for="comment">Комментарий к заказу</label>
                <textarea class="form-control" id="comment" rows="3" name="comment" placeholder="Если хотите что-то добавить"></textarea>
            </div>
            <button type="submit" class="btn btn-primary" onclick="validateFileInput()">Заказать</button>
        </form>
        <p id = "output"> </p>
    </div>
    <script type="text/javascript">
        (function() {
        const form = document.querySelector('#sectionForm');
        const checkboxes = form.querySelectorAll('input[type=checkbox]');
        const checkboxLength = checkboxes.length;
        const firstCheckbox = checkboxLength > 0 ? checkboxes[0] : null;
        const file = document.getElementById("file");
        const label = document.getElementById("label");

        function init() {
            if (firstCheckbox) {
                for (let i = 0; i < checkboxLength; i++) {
                    checkboxes[i].addEventListener('change', checkValidity);
                }

                checkValidity();
            }
        }

        function isChecked() {
            for (let i = 0; i < checkboxLength; i++) {
                if (checkboxes[i].checked) return true;
            }

            return false;
        }

        function checkValidity() {
            const errorMessage = !isChecked() ? 'Выберите тип заказа' : '';
            file.setCustomValidity(errorMessage);
            firstCheckbox.setCustomValidity(errorMessage);
            firstCheckbox.setCustomValidity(errorMessage);
            firstCheckbox.setCustomValidity(errorMessage);
        }

        init();
        })();
    </script>
    <script>
        function inputDisplay(myCheck,inputId){
        if(myCheck.checked){
        document.getElementById(inputId).style.display = 'block';
        }
        else{
        document.getElementById(inputId).style.display = 'none';
        }
        }
    </script>
    <!--
    <script>
        const image_input = document.querySelector("#photo");
        var uploaded_image = "";

        image_input.addEventListener("change", function(){
            const reader = new FileReader();
            reader.addEventListener("load", () => {
                uploaded_image = reader.result;
                document.querySelector("#display_image").style.backgroundImage = 'url(${uploaded_image})';
            });
            reader.readAsDataURL(this.files[0]);
        })
    </script>
    -->
    <script>
        const file = document.querySelector("#file");
        const fileName = document.querySelector(".file-name");
        const image = document.querySelector(".photo-preview");
        const previewBTN = document.querySelector(".preview");
        const modal = document.querySelector(".modal");
        const closeBTN = document.querySelector(".close");

        file.addEventListener("change", () => {
            fileName.innerHTML = file.files[0].name;
            const fileURL = URL.createObjectURL(file.files[0]);
            image.src = fileURL;
            previewBTN.classList.remove("inactive");
        });

        previewBTN.addEventListener("click", () => {
            modal.classList.toggle("display-none");
        });

        closeBTN.addEventListener("click", () => {
            modal.classList.toggle("display-none");
        });
    </script>
    <script>
        function enable_text() {
            var check = document.getElementById("text");
            var dead_surname = document.getElementById("dead_surname");
            var dead_name = document.getElementById("dead_name");
            var dead_patronymic = document.getElementById("dead_patronymic");
            var dead_birth_day = document.getElementById("dead_birth_day");
            var dead_death_day = document.getElementById("dead_death_day");
            if (check.checked) {
                dead_surname.removeAttribute("disabled");
                dead_name.removeAttribute("disabled");
                dead_patronymic.removeAttribute("disabled");
                dead_birth_day.removeAttribute("disabled");
                dead_death_day.removeAttribute("disabled");
                dead_surname.required = "true";
                dead_name.required = "true";
                dead_patronymic.required = "true";
                dead_birth_day.required = "true";
                dead_death_day.required = "true";
            }
            else {
                dead_surname.disabled = "true";
                dead_name.disabled = "true";
                dead_patronymic.disabled = "true";
                dead_birth_day.disabled = "true";
                dead_death_day.disabled = "true";
                dead_surname.removeAttribute("required");
                dead_name.removeAttribute("required");
                dead_patronymic.removeAttribute("required");
                dead_birth_day.removeAttribute("required");
                dead_death_day.removeAttribute("required");
            }
        }

        function enable_image() {
            var check = document.getElementById("image");
            var file = document.getElementById("file");
            var btn = document.getElementById("button_preview");
            if (check.checked) {
                file.removeAttribute("disabled");
                btn.removeAttribute("disabled");
                file.required = "true";
                btn.required = "true";
            }
            else {
                file.disabled = "true";
                btn.disabled = "true";
                file.removeAttribute("required");
                btn.removeAttribute("required");
            }
        }
    </script>
    <script>

        (function() {
            var file = document.getElementById("file");
            var check = document.getElementById("text");
            const form = document.querySelector('#sectionForm');
            const checkboxes = form.querySelectorAll('input[type=checkbox]');
            const checkboxLength = checkboxes.length;
            const firstCheckbox = checkboxLength > 0 ? checkboxes[0] : null;
            if (1 == 1) {
                const errorMessage = !isChecked() ? 'Выберите тип заказа' : '';
                file.setCustomValidity(errorMessage);
            } else {
                const errorMessage = !isChecked() ? 'Выберите тип ' : '';
                file.setCustomValidity(errorMessage);
            }
        })();-->
        function check_image() {
            var file = document.getElementById("file");
            var check = document.getElementById("text");
            if (1 == 1) {
                const errorMessage = !isChecked() ? 'Выберите тип заказа' : '';
                file.setCustomValidity(errorMessage);
            } else {
                const errorMessage = !isChecked() ? 'Выберите тип ' : '';
                file.setCustomValidity(errorMessage);
            }
        }
    </script>
    <script>
      let output = document.getElementById("output");
      function validateFileInput() {
         let files = $("#file")[0].files.length;
         if (files != 0) {
            output.innerHTML += "File is selected! <br/>";
         } else {
            output.innerHTML += "Please, select a file!<br>";
         }
      }
    </script>
{% endblock %}